body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 2;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;

}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 400px;

}

#company_name{
    font-size: 30px;
}


#header nav a,
#login {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}
 #header nav a:hover {
    color: black;
    background-color: azure;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

#sk {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
    border: 2px solid gainsboro;
}

#search a {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#search a:hover {
    color: black;
    background-color: azure;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

#search {
    position: relative;
}

#search i {
    position: absolute;
    left: 20px;
    top: 14px;
}

#what img {
    border-radius: 80px;
    width: 60px;


}

#what .range {
    transform: scale(2, 2);
}

#what {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    width: 1100px;
    height: 700px;
    margin-left: 200px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px wheat;
    margin-bottom: 50px;
}

#what a {
    color: aliceblue;
}

#frsh {
    border: 5px solid rgba(0, 135, 246, 255);
}

.image {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.image #frsh{
  animation-name: tech;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes tech{
    25%{border: 5px solid aliceblue;}
    0%{border: 5px solid rgba(0, 135, 246, 255);}
    50%{border: 5px solid #279b48;}
    75%{border: 5px solid aliceblue;}
    
}

span {
    font-size:large;
    color: green;
}

#now {
    background-color: rgba(0, 135, 246, 255);
    border-radius: 15px;
    color: white;
    width: 200px;
    height: 40px;
    border-color: blue;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

#what p {
    padding-top: 60px;
}

#Color {
    color: whitesmoke;
}

#Explore {
    display: flex;
    width: 250px;
}

#collection img {
    width: 70px;
    border-radius: 8px;
}

#Content {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}

#Color {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding-left: 200px;
}

#Invest {
    padding: 0;
    margin-left: 20px;
}

#Invest p,
h3 {
    margin: 0;
}
@media only screen and (max-width:600px) {
    footer{
        width: 1400px;
     } 
    header {
        width: 1400px;
    }
    #Content {
        display: flex;
        flex-direction: column;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    padding-top: 20px;
    color: whitesmoke;
}

footer p {
    margin-top: 250px;
}
#year_slider{
    border-radius: 20px;
    display: flex;
}

/* input[type="radio"]{
    ;
}
.year{
   
}



#year_slider button{
    width:30px;
    height:26px;
    border:none;
}

.selected{
    border: 3px dotted rgb(16, 152, 225);
    padding: 2px;
} */


/* start of company images */
.image img {
    cursor: pointer;
}

.image .selected{
    border: 5px dotted rgb(16, 152, 225);
    padding: 2px;
}

/* end of company images */


/* radio buttons */

/* .radio_btns {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
} */

/* .active{
    background-color: #279b48;
    padding: .5em;
    border-radius: 5px;
    color: white;
   
} */

/* .radio_btns .radio_div label{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

input[type="radio"]{
    display: none;
} */
.radio_div{
    border: 1px solid red;
    background-color: rgb(0, 149, 255);
    color: aliceblue;
    padding: 10px;
    margin-right: 15px;
    border-radius: 5px;
    font-size:larger;
    cursor: pointer;
}