body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    /* background-color:; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 400px;

}

#header nav a,
#login {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

#header nav a:hover {
    color: black;
    background-color: azure;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

#sk {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
    border: 2px solid gainsboro;
}

#search a {
    margin-left: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#search a:hover {
    color: black;
    background-color: azure;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

#search {
    position: relative;
}

#search i {
    position: absolute;
    left: 20px;
    top: 14px;
}

#contentW {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 881px;
    background-color: white;
    color: black;
}

#contentB {

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 881px;
    background-color: black;
    color: white;
}

#btn2 {
    background-color: rgba(39, 155, 72, 255);
    border-radius: 15px;
    color: aliceblue;
    width: 200px;
    height: 40px;
    border-color: blue;
    border-style: none;
    font-weight: bold;
}

#btn3 {
    background-color: goldenrod;
    border-radius: 15px;
    color: aliceblue;
    width: 200px;
    height: 40px;
    border-color: blue;
    border-style: none;
    font-weight: bold;
}

#btn1 {
    background-color: rgba(0, 135, 246, 255);
    border-radius: 15px;
    color: aliceblue;
    width: 200px;
    height: 40px;
    border-color: blue;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

.fas {
    color: rgb(75, 79, 82);
}

#Text p {
    color: rgb(160, 160, 160);
}

#Text ul {
    padding: 0;
}

#Text ul li {
    margin-left: 15px;
}

#iphone svg {
    position: relative;
    bottom: 273px;
    right: 70px;
    left: 38px;
    width: 150px;
    height: 150px;
}

#US {
    position: relative;
    right: 35px;
    bottom: 0px;

}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    padding-top: 20px;
    color: whitesmoke;

}

/* @media only screen and (max-width:600px){
 footer{
    width: 1000px;
 } 
 #all {
    width: 1000px;
 }
header {
    width: 1000px;
}
#login{
    position: relative;
    left: 220px;
    bottom: 25px;
}

}

footer p {
    margin-top: 250px;
} */

@media screen and (max-width: 600px) {

    #all #contentW {
        display: flex;
        flex-direction: column;
        align-items: center;
       justify-content: center;
    }

    
}
.profile {
    margin-left: 30px;
}